.wrap-pagination-info{
    ul.pagination{
        display: flex;
        font-weight: bold;
        font-size: 1.5rem;
        gap: 0.7rem;
        li.page-item{
            position: relative;
            transition: 0.3s;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
            }
            &:hover:not(.disabled):not(.active){
                cursor: pointer;
                &:before{
                    display: block;
                    background: rgba(0,0,0,0.1);
                }
            }
            .page-link {
                line-height: 1;
                padding: 0.8rem 1rem;
                border-radius: 0;
                border: none;
            }
            &.active{
                .page-link {
                    background: red;
                }
            }
        }
    }
}
